# PostgreSQL
POSTGRES_USER=torassen
POSTGRES_PASSWORD=torassen_secret
POSTGRES_DB=torassen

# Database URL (used by Prisma inside nextjs container)
DATABASE_URL=postgresql://torassen:torassen_secret@postgres:5432/torassen

# Auth.js
AUTH_SECRET=""
AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""

# node
NODE_ENV=development

# Server IP (IP or localhost)
SERVER_IP=localhost
